menu "GPIO configuration"
	config LED_GPIO
	int "GPIO pin"
	default 9

	config ONBOARD_LED_GPIO
	int "Onboard GPIO pin"
	default 21

	config I2C_SDA_GPIO
	int "I2C SDA GPIO pin"
	default 5

	config I2C_SCL_GPIO
	int "I2C SCL GPIO pin"
	default 6

	config SPI_MOSI_GPIO
	int "SPI MOSI GPIO pin"
	default 9

	config SPI_MISO_GPIO
	int "SPI MISO GPIO pin"
	default 8

	config SPI_SCK_GPIO
	int "SPI SCK GPIO pin"
	default 7
endmenu
